server:
  http_listen_port: {{ logging_promtail_http_listen_port }}
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yml

clients:
  - url: {{ logging_loki_url | to_json }}
{% if logging_loki_username | length > 0 and logging_loki_password | length > 0 %}
    basic_auth:
      username: {{ logging_loki_username | to_json }}
      password: {{ logging_loki_password | to_json }}
{% endif %}

scrape_configs:
  - job_name: nginx_access
    static_configs:
      - targets:
          - localhost
        labels:
          job: nginx_access
          host: {{ inventory_hostname | to_json }}
          __path__: {{ logging_nginx_access_log_path | to_json }}
    pipeline_stages:
      - json:
          expressions:
            remote_addr: remote_addr
            request_method: request_method
            request_path: request_path
            status: status
{% if logging_geoip_enabled %}
      - geoip:
          db: {{ logging_geoip_db_path | to_json }}
          source: remote_addr
          db_type: city
{% endif %}
      - labels:
          request_method:
          status:

  - job_name: nginx_error
    static_configs:
      - targets:
          - localhost
        labels:
          job: nginx_error
          host: {{ inventory_hostname | to_json }}
          __path__: {{ logging_nginx_error_log_path | to_json }}

  - job_name: auth
    static_configs:
      - targets:
          - localhost
        labels:
          job: auth
          host: {{ inventory_hostname | to_json }}
          __path__: /var/log/auth.log

  - job_name: fail2ban
    static_configs:
      - targets:
          - localhost
        labels:
          job: fail2ban
          host: {{ inventory_hostname | to_json }}
          __path__: /var/log/fail2ban.log

{% if logging_collect_ufw %}
  - job_name: ufw
    static_configs:
      - targets:
          - localhost
        labels:
          job: ufw
          host: {{ inventory_hostname | to_json }}
          __path__: /var/log/ufw.log
{% endif %}
