server {

    # Your domain names
    server_name matpohj.fi www.matpohj.fi;

    # The directory we created earlier
    root /var/www/matpohj.fi/html;
    index index.html;

    # Security Headers
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options "nosniff";

    # Hide Nginx version
    server_tokens off;

    access_log {{ logging_nginx_access_log_path | default('/var/log/nginx/site.access.log') }} siem_json;
    error_log {{ logging_nginx_error_log_path | default('/var/log/nginx/site.error.log') }} warn;

    location / {
        try_files $uri $uri/ =404;
    }
    location ~ /\.(git|env) {
        deny all;
        access_log off;
        log_not_found off;
    }
    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/matpohj.fi/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/matpohj.fi/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}
server {
    if ($host = www.matpohj.fi) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = matpohj.fi) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    listen [::]:80;
    server_name matpohj.fi www.matpohj.fi;
    return 404; # managed by Certbot




}
